{mode, max}.
% {mode, {rate, 50}}.  % 50 operations/sec

{duration, 5}.  % minutes

{concurrent, 50}.

{driver, couch_int_writes}.

% {key_generator, {int_to_bin,{uniform_int, 5000000}}}.

% {value_generator, {fixed_bin, 10000}}.

{operations, [{put, 1}]}.
% {operations, [{get, 4}, {put, 1}]}.  % run 80% gets, 20% puts

{couch_test_db, "couch_int_writes_test"}.
{couch_doc_template, "couch_docs/doc_1kb.json"}.

% Must be an absolute path. Before running this test, do the following in
% the CouchDB source directory:
% ./bootstrap && ./configure && make dev
{couch_source_dir, "/home/fdmanana/git/hub/couchdb"}.