{mode, max}.
% {mode, {rate, 50}}.  % 50 operations/sec

{duration, 5}.  % minutes

{concurrent, 50}.

{driver, couch_http_bulk_writes}.

% {key_generator, {int_to_bin,{uniform_int, 5000000}}}.

% {value_generator, {fixed_bin, 10000}}.

{operations, [{put, 1}]}.
% {operations, [{get, 4}, {put, 1}]}.  % run 80% gets, 20% puts

{couch_server, "http://localhost:5984"}.
{couch_test_db, "couch_bulk_writes_test"}.
{couch_doc_template, "couch_docs/doc_1kb.json"}.
{couch_batch_size, 100}.
{socket_options, [{recbuf, 786432}, {sndbuf, 786432}, {keepalive, true}, {nodelay, false}]}.
